# Raspberry Pi rover dependencies
# Install on the Pi with: pip3 install -r requirements.txt
# (Remember to enable I2C first: sudo raspi-config -> Interface Options -> I2C)

adafruit-circuitpython-motorkit
adafruit-blinka
RPi.GPIO
