# Raspberry Pi rover dependencies
# On a Pi 5:
#   sudo apt install -y python3-lgpio python3-rpi-lgpio
#   python3 -m venv --system-site-packages .venv
#   pip install -r requirements.txt
# (Remember to enable I2C: sudo raspi-config -> Interface Options -> I2C)
#
# Pi 5: classic RPi.GPIO does NOT work. Use apt python3-rpi-lgpio
# (RPi.GPIO-compatible API on top of lgpio) plus python3-lgpio for Blinka.

adafruit-circuitpython-motorkit
adafruit-blinka
